<div class="contents">

<div class="padding" id="top"></div>

<div class="main">
    <div class="identity">
        <img src="../image/IMG_20260326_104443_304.jpg" alt="test" id="profilePic">
    </div>
    <div class="introduction">
        <h2 class="h2Container">Hello, I'am Habil</h2>
        <p class="pContainer">        
            Self-taught Fullstack Web Developer, I still prefer back-end but still can handle front-end properly. I am open to learning new language model if necessary as I am a quick learner. If you need a flexible person to work on your web or want one, you can try to contact me and we see what we can achieve.
        </p>
        <div class="address">
            <h5 id="location">
                <img src="../image/icons/home.png" id="homeIcon"> Depok, Jawa Barat, Indonesia
            </h5>
        </div>
        <button class="reachOutButton"><a href="https://web.whatsapp.com/" class="reachOut"><img src="../image/icons/whatsapp.png" alt="Whatsapp" class="reachOutIcon">Reach out</a></button>
    </div>
</div>

<div id="techStack"></div>
<h1 class="h1Title">Tech Stack - Tools I Use</h1>

<div class="carouselContainer">
    <div class="carousel">
    <div class="carouselGroup">
        {{#each carouselData}}
        <div class="carouselCard"><img src="../image/icons/{{this}}" alt="Tech" class="imgCard"></div>
        {{/each}}
    </div>
    <div class="carouselGroup">
        {{#each carouselData}}
        <div class="carouselCard"><img src="../image/icons/{{this}}" alt="Tech" class="imgCard"></div>
        {{/each}}
    </div>
        {{#each carouselData}}
        <div class="carouselCard"><img src="../image/icons/{{this}}" alt="Tech" class="imgCard"></div>
        {{/each}}
    </div>
    </div>
</div>

<div id="worksExperience"></div>

<div id="worksExperienceLine"></div>

<div class="contents">

<h1 class="h1Title">Works Experience :</h1>

<div class="workExperiencesContainer">
    {{#each workExperiences}}
    <div class="workCard">
        <div class="corporation">
        <img src="{{image}}" alt="placeholder" class="workImage">
        <div class="textArea">
            <h2>Role : {{role}}</h2>
            <h3>Company Name : {{name}}</h3>
            <h5 class="workTask">Task :</h5>
            {{#each task}}
                <li>{{this}}</li>
            {{/each}}
        </div>
        </div>
        
        <div class="workingTimeArea">
            <h5>{{time}}</h5>
        </div>
    </div>
    {{/each}}
</div>
</div>
<div id="myProjects"></div>

<div id="myProjectsLine"></div>

<div class="contents">

<h1 class="h1Title">My projects :</h1>

<div class="myProjects">
<div class="projectsContainer">
    {{#each myProjects}}
    <div class="projectsCard" id="projectsCard{{id}}" onclick="showDetail({{id}})" >
        <h2 class="cardName">{{name}}</h2>
        <img src="{{image}}" alt="placeholder" class="projectImage">
        <div class="projectIntro">
            <div class="projectIntroText">
            <p>{{description}}</p>
            </div>
        </div>
        <h6 class="tagH6">Tags:</h6>
        <div class="projectTagsContainer">
            {{#each tag}}
                <div class="projectTags">
                    {{this}}
                </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
</div>

<div class="closingWord">
<h1 class="contactH1">Let's create something together</h1>
<p class="contactP">Feel free to reach out if you're looking for a junior developer, have a question, or just want to connect.</p>
<div class="contactAddressContainer"><p class="contactAddress"><a href="https://mail.google.com/"><img src="../image/icons/email.png" alt="Email" class="contactIcon">habilherdianto233z@gmail.com</a>   |   <a href="https://web.whatsapp.com/"><img src="../image/icons/whatsapp.png" alt="Whatsapp" class="contactIcon">+62 811 1120 503</a></p></div>
</div>

</div>
</div>

{{#each myProjects}}
<div id="myModal{{id}}" class="modal" onclick="closeDetailOutside({{id}})">
  <div class="modalContent">
    <div class="closeDetailButton">
    <span class="close{{id}} close" onclick="closeDetail({{id}})">&times;</span>
    </div>
    <div class="modalInnerbox">

    <h2>{{name}}</h2>
    <img src="{{image}}" alt="placeholder" class="projectImage detailImage">
    <p class="detailDescription">{{description}}</p>
    <div class="tagDetailContainer">
    {{#each tag}}
        <div class="projectTags">
            {{this}}
        </div>
    {{/each}}
    </div>
        <div class="buttonDetailContainer">
            <a href="{{githubLink}}"><button class="toGithubButton">To Github</button></a>
        </div>
    </div>
  </div>
</div>
{{/each}}
<script src="/scripts/script.js"></script>